# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# dotenv
.env

# Logs
logs/
*.log

# Optional: VSCode settings
.vscode/

# Build outputs (якщо є)
dist/
build/
out/
coverage/

# Jest coverage
coverage/

# TypeScript (якщо є)
*.tsbuildinfo

# ESLint cache
.eslintcache

# Parcel/Babel/Webpack
.cache/